@use 'typography';

:root {
	--container-width: 1400px;
  --container-width-small: 600px;
  --container-width-medium: 760px;

	// Site colors
	--white: #ffffff;
	--black: #101115;
	--primary: #f7f2ee;

	--font-primary: 'lato';
	--font-heading: 'lato';
}

* {
	box-sizing: border-box;
	letter-spacing: 0.64px;
	font-family: var(--font-primary), 'Arial', 'Serif';
}

html {
	line-height: normal;
	font-size: 16px;
	font-family: var(--font-primary), 'Arial', 'Serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary), 'Arial', 'Serif';
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

p,
span,
button,
label {
  font-family: var(--font-primary), 'Arial', 'Serif';
}
