@font-face {
	font-family: "poppins";
	src: url("../../public/fonts/Poppins-ExtraBold.ttf");
	font-weight: 800;
}

@font-face {
	font-family: "poppins";
	src: url("../../public/fonts/Poppins-Black.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "poppins";
	src: url("../../public/fonts/Poppins-Bold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "poppins";
	src: url("../../public/fonts/Poppins-SemiBold.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "poppins";
	src: url("../../public/fonts/Poppins-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "poppins";
	src: url("../../public/fonts/Poppins-Light.ttf");
	font-weight: 300;
}
